*.cwGeneratedFileSetLog
*.g_c
*.g_x
RemoteControl/Documentation
RemoteControl/Generated_Code
RemoteControl/Debug

Sumo/Documentation
Sumo/Generated_Code
Sumo/Debug

ProjectInfo.xml
RemoteControl/.settings
Sumo/.settings

